.cores-Brasil{
    background-color: red;
}

.cores-Pelotas { 
    background-color: yellow;
}

.cores-Farroupilha{
    background-color: green;
    color: #fff;
}

.cores-Nenhum{
    background-color: #fff;
}

.button{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}


body{
    max-width: 1900px;
    margin: 0px auto;
    padding: 20px 30px 0px 300px;
}
.servi{
    margin-top:50px ;
    background-color: #000;
    color: whites;
    padding: 10 px;
}
label{
    padding: 5px;
    color: #353535;
}
h4{
    text-align: right;
    color: #000;
    margin: 50px 0px 0px 0px;
    height: 10px;
}

.servi p {
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

