.cores-Brasil{
    background-color: red;
}

.cores-Pelotas { 
    background-color: yellow;
}

.cores-Farroupilha{
    background-color: green;
    color: #fff;
}

.cores-Nenhum{
    background-color: #fff;
}

.button{
    margin-top: 30px;
}